table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 0px;

  }
  table {
    width: 100%;
  }
  
  tr {
    border-bottom: 1px solid grey;
  }
  tr:hover {background-color: #D6EBEB;}

  .Y4 {
    margin-left: 20px;
  }
  
  .yoga {
    width: 50%;
    position: relative;
  }